[submodule "filters"]
	path = filters
	url = https://github.com/ros/filters.git
[submodule "grid_map"]
	path = grid_map
	url = https://github.com/ANYbotics/grid_map.git
[submodule "isaac_ros_common"]
	path = isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
[submodule "isaac_ros_dnn_inference"]
	path = isaac_ros_dnn_inference
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_dnn_inference.git
[submodule "isaac_ros_image_pipeline"]
	path = isaac_ros_image_pipeline
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_image_pipeline.git
[submodule "isaac_ros_image_segmentation"]
	path = isaac_ros_image_segmentation
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_image_segmentation.git
[submodule "isaac_ros_nitros"]
	path = isaac_ros_nitros
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nitros.git
[submodule "isaac_ros_nvblox"]
	path = isaac_ros_nvblox
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nvblox.git
[submodule "isaac_ros_object_detection"]
	path = isaac_ros_object_detection
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_object_detection.git
[submodule "qcar2_behavior_tree"]
	path = qcar2_behavior_tree
	url = https://github.com/97hackbrian/qcar2_behavior_tree.git
[submodule "qcar2_lane_following"]
	path = qcar2_lane_following
	url = https://github.com/97hackbrian/LaneFollow-ACC.git
[submodule "qcar2_LaneMapping-ACC"]
	path = qcar2_LaneMapping-ACC
	url = https://github.com/97hackbrian/LaneMapping-ACC.git
[submodule "qcar2_LaneSeg-ACC"]
	path = qcar2_LaneSeg-ACC
	url = https://github.com/97hackbrian/LaneSeg-ACC.git
[submodule "qcar2_mixer"]
	path = qcar2_mixer
	url = https://github.com/97hackbrian/qcar2_mixer.git
[submodule "qcar2_nodex"]
	path = qcar2_nodex
	url = https://github.com/97hackbrian/qcar2_nodex.git
[submodule "qcar2_object_detections"]
	path = qcar2_object_detections
	url = https://github.com/97hackbrian/Yolo_v8.git
[submodule "qcar2_planner"]
	path = qcar2_planner
	url = https://github.com/97hackbrian/qcar2_planner.git
[submodule "qcar2_tracking"]
	path = qcar2_tracking
	url = https://github.com/HBKEduardex/Qcar_tracking.git
[submodule "rtabmap"]
	path = rtabmap
	url = https://github.com/introlab/rtabmap.git
[submodule "rtabmap_ros"]
	path = rtabmap_ros
	url = https://github.com/97hackbrian/rtabmap_ros.git
[submodule "teleop_twist_keyboard"]
	path = teleop_twist_keyboard
	url = https://github.com/ros2/teleop_twist_keyboard.git
